<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="douglasmf.servidor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppRequest"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Servidor"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PedidosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CardapioActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ClientesActivity"
            android:label="Clientes"></activity>
        <activity android:name=".RelatorioActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".DadosActivity"
            android:label="Dados"></activity>
    </application>
d
</manifest>